<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NavBar + Footer</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body >
    <div class="topnav" id="myTopnav">
        <div class="primero">
            <a href=""><img src="../Resources/nav-footer/game over logo.PNG"></a>
        </div>
        <div class="secundo">
            <a href="../../index.html" class="skew">Inicio</a>
            <div class="dropdown">
                <button class="dropbtn skew"  onclick='loadProductosTodos()'>Productos <i class="fa fa-caret-down"></i></button>
                <div class="dropdown-content" id="dropdownProductos">
                </div>
            </div>
            <a href="gemeover.html" class="skew">Game Over</a>
            <div class="dropdown">
                <button class="dropbtn skew"> Idiomas <i class="fa fa-caret-down"></i></button>
                <div class="dropdown-content" id="dropdownIdiomas">

                </div>
            </div>
            <a href="" class="skew"><i class="fa-solid fa-user"></i></a>

        </div>


        <a href="javascript:void(0);" style="font-size:51px;" class="icon" onclick="myFunction()">&#9776;</a>
    </div>
    <br>
    <section id="card">

    </section>
    <br>
    <footer class="footer-distributed">
        <div class="footer-left">
            <h3><img src="view/Resources/game over logo.PNG" alt=""></h3>
        </div>
        <div class="footer-center">
            <div>
                <i class="fa fa-map-marker"></i>
                <p>Calle Bilbao, España</p>
            </div>
            <div>
                <i class="fa fa-phone"></i>
                <p>+1.555.555.5555</p>
            </div>
            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="">meka@agibar.com</a></p>
            </div>
        </div>
        <div class="footer-right">
            <div class="footer-icons">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa-brands fa-youtube"></i></a>
            </div>
            <div class="legal">
                <ul class="nav__ul">
                    <li>
                        <a href="#">Avisos legales</a>
                    </li>
                    <li>
                        <a href="#">Política de privacidad</a>
                    </li>
                    <li>
                        <a href="#">Seguridad</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    <script src="../js/nav.js"></script>
</body>

</html> -->