/////////////////COLORES
$color-logo : #A80038;
$color-secundario:#F08080;
$color-blanco : #FAF9F8;
$color-negro : #111111;

$color-fondo-boton:rgba(0,0,0,0.8);
$color-rgb:rgba(168, 0, 56, 0.3);

$color-boton1:white;
$color-boton2:black;


/////////////////TAMAÑOS
$completo : 100%;
$padding-normal: 0.5em;

$cienporcentaje:100%;
$cienvh:100vh;
$cienpx:100px;

//Botones
$botones-padding:16px;
$botones-margin:-22px;

//Iconos
$tamano-iconos:150px;
$tamano-gap:2rem;